name: x86-64 Pull and Save Docker Image
on:
  workflow_dispatch:
    inputs:
      docker_images:
        description: 'ghcr.io/szemeng76/lunatv:5.9.1' # '请填写docker镜像名称 多个用英文逗号分开'
        required: true
        default: 'ghcr.io/fish2018/pansou-web:latest'  # 设置默认的 Docker 镜像列表
        #metacubex/mihomo:latest
        #6053537/portainer-ce:lates
        #analogic/poste.io
        #appflowy/appflowy
        #appflowyinc/admin_frontend:latest
        #appflowyinc/appflowy_web:latest
        #appflowyinc/appflowy_worker:latest
        #appflowyinc/appflowy_cloud:latest
        #appflowyinc/gotrue:latest
        #dpage/pgadmin4
        #emby/embyserver:latest
        #fireflyiii/core:latest
        #ghcr.io/fish2018/pansou-web:latest
        #ghcr.io/sagernet/sing-box:latest
        #ghcr.io/szemeng76/lunatv:5.9.1
        #halohub/halo:2
        #immortalwrt/imagebuilder:x86-64-openwrt-24.10.5
        #jc21/nginx-proxy-manager:latest
        #jericx/syncclipboard-server:latest
        #joplin/server:latest
        #lscr.io/linuxserver/swag:latest
        #messense/aliyundrive-webdav
        #minio/minio
        #mzz2017/v2raya:latest
        #nginx
        #nginx:latest
        #pgvector/pgvector:pg16
        #photoprism/photoprism:latest
        #portainer/portainer-ce:latest
        #redis
        #vaultwarden/server:latest
        #xhofe/alist:latest
        #xiaoyaliu/alist:latest
        #xiaoyaliu/glue:latest
        #ghcr.io/uncleluogithub/cf-keepalive:latest
        #jwy8645/sing-box-subscribe:amd64
        #jockerdragon/mobaxterm-crack:latest
jobs:
  pull_and_package:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Clean up Docker to free space
      run: |
          docker system prune -a -f
          docker volume prune -f

    - name: Pull Docker Images and Package
      run: |
        images="${{ github.event.inputs.docker_images }}"
          IFS=',' read -r -a image_array <<< "$images"
          for image in "${image_array[@]}"; do
            docker pull "${image}" --platform "linux/amd64"
            image_name="${image//\//_}"
            image_name="${image_name//:/_}"
            docker save "${image}" -o "${image_name}-amd64.tar"
            gzip -c "${image_name}-amd64.tar" > "${image_name}-amd64.tar.gz"
            rm "${image_name}-amd64.tar"
          done

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: ${{ github.workspace }}/*.tar.gz
        retention-days: 1  # 将保留天数设置为 1 天 最多可设置90天
